<style type="text/css">
form {
    display: inline-block;
}
body{
    background-color:#EEEEEE;
}
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:80px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}
</style>

    <div class="page-topbar">
        <div class="container">
            <div class="logo-area" ng-click="">
            </div>
            <div class="quick-area" ng-show="isLoggedIn">
                <div class='pull-right'>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        <li class="balaceTop"><b>Welcome {{user.firstName}}</b> </li>
                        <li><a href="" class="balaceTop" ng-click="logOut()"><i class="fa fa-lock"></i>
                                        Logout
                                    </a></li>
                        <li class="profile">
                            <!-- <a href="#" data-toggle="dropdown" class="toggle" id="dropdownToggle">
                                <span>{{user.firstName}}
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </a> -->
                            <ul class="dropdown-menu profile animated fadeIn" role="menu" id="dropdownMenu">
                                <li class="last">
                                    <a href="" ng-click="logOut()">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todo Dashboard</h1>
            <form>
                <input type="text" ng-model="taskName" class="form-control" placeholder="Your Task" name="task">
            </form>
            <button type="button" ng-click="addTask()" class="btn btn btn-primary">Add Task</button>              
            <hr>
            <ul id="sortable" class="list-unstyled">
                <li>
                    <div class="checkbox" ng-repeat="t in tasks| filter: filterTasks">
                        <label>
                            <input type="checkbox" ng-click="updateTask(t._id, t.status)" value="" ng-checked="t.status=='completed' ? true:false" ng-disabled="t.status=='completed' ? true:false"/>{{t.name}}<button ng-click="deleteTask(t._id)" class="remove-item btn btn-default btn-xs pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </label>
                    </div>
                </li>
            </ul>
            <div>
            <button type="button" ng-click="updateFilter('all')" class="btn btn btn-primary">All</button>
            <button type="button" ng-click="updateFilter('active')" class="btn btn btn-primary">Active</button>
            <button type="button" ng-click="updateFilter('completed')" class="btn btn btn-primary">Completed</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
